@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');


* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

body {
    background-color: black;
    scrollbar-color: #333 #111;
    /* Firefox */
    scrollbar-width: thin;
    /* Firefox */
}

/* Custom scrollbar for WebKit browsers */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: #111;
}

::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 10px;
    border: 3px solid #111;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.container {
    width: 99.5vw;
    height: 98vh;
    display: flex;
    /* background-color: red; */

}


.left {
    width: 30vw;
    height: 98vh;
    /* border: 2px solid green; */
    margin: 8px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    z-index: 5;
}

.home {
    width: 100%;
    height: 190px;
    /* border: 2px solid blue; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
}

.X {
    display: none;
}


.library {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: space-between;
}

.logo img {
    padding: 20px;
}

.logo img:hover {
    cursor: pointer;
    background-color: rgba(182, 182, 182, 0.055);
    border-radius: 360px;
}

.logosvg {
    width: 84px;
    padding: 15px;
    filter: invert();
    margin: 0 5px;
    cursor: pointer;
}

.homesvg {
    filter: invert();
    /* padding: 15px; */

}

.searchsvg {
    filter: invert();
}

.home ul {
    justify-content: center;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 0 20px;
}

.home ul li {
    font-size: 15px;
    width: 24px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    font-weight: 700;
}

#srch {
    color: #b3b3b3;
}

#srch:hover {
    color: white;
}

.library_title {
    display: flex;
    align-items: center;
    padding: 15px;
    color: white;

    justify-content: center;
    gap: 105px;
}


.library_title img {
    width: 30px;
    filter: invert();
}


.first {
    display: flex;
    align-items: center;
    gap: 14px;
    font-weight: 700;
    opacity: 0.5;
    cursor: pointer;
}

.first:hover {
    opacity: 1;
}


.second {
    font-size: 25px;
    cursor: pointer;
    opacity: 0.5;
    display: flex;
    justify-content: center;
}

.second:hover {
    opacity: 1;
    background-color: rgba(128, 128, 128, 0.082);
    width: 30px;
    border-radius: 360px;
}


.footer {
    width: 282.03px;
    height: 200px;
    color: #b3b3b3;
    font-size: 9px;
}

.footer ul {
    padding: 30px 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 29px;
}

.footer ul li {
    list-style: none;
}

.lang {
    margin: 30px 20px;
    width: 70px;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 100px;
    display: flex;
    align-items: center;
    padding: 6px;
    gap: 8px;
    font-weight: 700;
}

.lang img {
    width: 18px;
    border-radius: 80px;
    filter: invert();
}

.lang:hover {
    padding: 8px;
    border: 2px solid rgb(255, 255, 255);
}

.main_library {
    width: 270px;
    height: 252px;
    /* border: 2px solid gray; */
    overflow: hidden;
    padding: 5px;
    color: rgb(119, 112, 112);

}

.main_library:hover {
    overflow-y: auto;
    scrollbar-color: black;
}

.main_library ul {
    display: flex;
    flex-direction: column;
    gap: 2px;
    color: rgb(255, 255, 255);
}

.main_library ul li {
    list-style: none;
    font-size: large;
    color: rgb(255, 255, 255);
    /* border: 2px solid white; */
    width: 250px;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 10px 5px;
    justify-content: space-between;
    font-size: 12px;
    gap: 20px;
}

.main_library ul li:hover {
    background-color: rgba(0, 0, 0, 0.048);
    cursor: pointer;
}

.playnow {
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    font-size: 10px;
    padding-right: 15px;
}

.playnow #playbtn {
    width: 12px;
}

#artist {
    padding: 5px 0px;
}

#artist:hover {
    text-decoration: underline;
}



/* ---------------------------------------------------(Right Starts)-------------------------------------------------------- */


.right {
    width: 200vw;
    height: 98vh;
    /* border: 2px solid green; */
    margin: 8px 0px;
    /* display: flex; */
    /* justify-content: space-between; */

}

.rightheader {
    display: flex;
    justify-content: space-between;
}


nav {
    display: flex;
    gap: 10px;
    padding: 15px;
}

nav button {
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #0a0a0a;
    border-radius: 100px;
    cursor: not-allowed;
}

.hamburger {
    padding-right: 10px;
    display: none;

}

.hamburger:hover {
    cursor: pointer;
}


.log_button {
    padding: 10px 25px;

    button {
        font-size: medium;
        font-weight: 700;
        padding: 15px;
        border-radius: 90px;
        cursor: pointer;
    }
}

.btn1 {
    color: #b3b3b3;
    border: none;
}

.btn1:hover {
    font-size: large;
    color: white;
    padding: 15px 16px;
}

.btn2 {
    width: 100px;
    height: 50px;
    border: none;
    margin-left: 20px;
}

.btn2:hover {
    width: 105px;
    height: 50px;
}


.spotifyplaylist {
    padding: 12px;
    /* border: 2px solid red; */
    height: 500px;
    overflow: hidden;
    background-color: #30303038;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-end-end-radius: 20px;

}

.spotifyplaylist:hover {
    overflow-y: scroll;
}

.spotifyplaylist h1 {
    color: white;

}

.spotifyplaylist h1:hover {
    cursor: pointer;
    text-decoration: underline;
}


.card_container {
    display: flex;
    flex-direction: row;
    gap: 40px;
    flex-wrap: wrap;
}

.card {
    /* border: 2px solid red; */

    width: 200px;
    height: 250px;
    color: white;
    padding: 15px 11px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 6px;

    .play img {
        display: none;
    }

    .play {
        background-color: #1ed760;
        width: 50px;
        height: 50px;
        position: absolute;
        bottom: 60px;
        right: 25px;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(0, 0, 0, 0.096);
        transition: all .5s;
        opacity: 0;
    }
}

.card:hover {
    background-color: rgb(46, 46, 46);
    cursor: pointer;
    transition: all .4s;

    .play {
        background-color: #1ed760;
        width: 50px;
        height: 50px;
        position: absolute;
        bottom: 70px;
        right: 25px;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(0, 0, 0, 0.096);
        opacity: 1;
    }

    .play img {
        display: block;
    }
}



.play img {
    display: flex;
}


.card img {
    width: 100%;
    object-fit: contain;
}



.play img {
    width: 20px;
}

.buttongrp {
    position: fixed;
    width: 78%;
    height: 100px;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 4px;
    margin: 0;

}

.playbar {
    position: fixed;
    bottom: 0;
    color: white;
    width: 100%;
    height: 100px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* border: 2px solid red; */
    z-index: 1;
}


.songname,
.songTime {
    z-index: 10;
    color: rgb(255, 255, 255);
    padding: 30px 50px;
    font-size: 13px;
}

.songname {
    width: 280px;
}

.songTime {
    position: relative;
    left: 70px;
}

.volume {
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 5;
}

.volume img {
    width: 22px;
}

.volume:hover {
    cursor: pointer;

}

.range input {
    width: 100px;
    height: 5px;
}

.range input:hover {
    cursor: pointer;
}




#playbtn {
    width: 15px;
    border-radius: 100px;
    padding: 8px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

#previousbtn {
    width: 20px;
    filter: invert();
    cursor: pointer;
}

#nextbtn {
    width: 20px;
    filter: invert();
    cursor: pointer;
}

.progressbar {
    color: white;
    position: fixed;
    display: flex;
    z-index: 4;
    bottom: 15px;
    border: 2px solid white;
    width: 60%;
    margin: 0px 10%;
    border-radius: 100px;
    align-items: center;
    cursor: pointer;
}

.dot {
    width: 12px;
    height: 12px;
    position: absolute;
    background-color: rgb(194, 194, 194);
    border-radius: 140px;
    left: 0%;
    transition: left 0.5s;
}

.dot:hover {
    cursor: pointer;
}



/* Right walla  */
#playbutton {
    width: 15px;
    border-radius: 100px;
    padding: 8px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}




@media (max-width: 1100px) {
    .home {
        height: auto;
    }

    .playbar {
        width: 100vw;
    }


    .buttongrp {
        width: 100vw;
    }

    .songname,
    .songTime {
        padding: 0px;
        font-size: 10px;
    }


    .left {
        position: absolute;
        width: fit-content;
        z-index: 10;
        background-color: rgb(0, 0, 0);
        transition: all .5s;
        left: -1000px;
        height: auto;
    }



    #playbtn {
        width: 15px;
        border-radius: 100px;
    }



    .hamburger {
        padding-right: 10px;
        display: block;
        width: 30px;

    }

    .hamburger:hover {
        cursor: pointer;
    }

    .X {
        display: block;
    }


    .volume {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .volume img {
        width: 20px;
    }

    .range input {
        width: 70px;
        height: 3px;
    }

    .songname {
        width: 125px;
    }

    .library {
        justify-content: start;
    }

    .main_library {
        height: fit-content
    }

    .card_container {
        justify-content: center;
        gap: 5px
    }

    .spotifyplaylist {
        height: 80vh;
        padding-bottom: 110px;
    }


    .progressbar{
        margin: 0px 19%;
    }
}


@media (max-width: 500px) {
    .rightheader{
        align-items: center;
    }

    #btn1{
        width: 10px;
    }  
    #btn2{
        width: 70px;
        height: 40px;
        border: none;
        margin-left: 20px;
    }  


.log_button {
    padding: 0px 15px;
}
.noneed{
    display: none;
}

.card_container{
    max-height: unset;
    overflow-y: unset;

}
}